.Lab-container {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: url(../../Assets/Lab.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  @media (max-width: 390px) {
    background-position: 30%;
  }
  .text-clinic-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding-top: 50px;

    @media (max-width: 786px) {
      padding-left: 16px;
      padding-right: 16px;
    }
    h1 {
      color: var(--Blue, #0e2e51);
      text-align: center;

      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%; /* 60px */
      letter-spacing: -1.2px;
      max-width: 1200px;
      margin-top: 0px;
      margin-bottom: 0px;

      span {
        background: linear-gradient(180deg, #0e2e51 0%, #a8d7fa 121.67%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      @media (max-width: 1440px) {
        font-size: 60px;
      }

      @media (max-width: 768px) {
        font-size: 40px;
      }
    }
    h2 {
      color: #0e2e51;

      color: #0e2e51;

      text-align: center;
      font-family: Inter;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      max-width: 680px;

      @media (max-width: 1440px) {
        font-size: 15px;
      }
      @media (max-width: 768px) {
        color: #0e2e51;

        text-align: center;
        font-family: Inter;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }

  .lab-img-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -1;
    position: relative;
    width: 100vw;

    img {
      width: 100%;
    }
  }
}
