.background-slides {
  text-align: left;
}
// .section {
//   display: flex;
//   height: 300vh;
//   width: fit-content;
//   justify-content: space-between;

//   text-align: left;
//   flex-direction: row;
// }

.section-video {
  display: flex;
  height: 300vh;
  width: 100vw;
  width: fit-content;
  justify-content: space-between;

  .video-container {
    position: absolute;
    height: 500vh;
    width: 100%;
    z-index: -10;
    @media (max-width: 640px) {
      width: 100vw;
      height: 100%;
    }
    video {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      z-index: -10;
      @media (max-width: 640px) {
        width: auto;
        height: 100%;
      }
    }
  }
}

.videoWrapper {
  width: fit-content !important;
  height: fit-content !important;
  video {
    position: sticky;
    width: 50vw;
  }
}

.background {
  height: 400vh;
  background: black;
  padding: 30px;
  text-align: left;

  @media (max-width: 640px) {
    flex-direction: column;
    height: 600vh;
  }

  .slideShow-text-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    height: 300vh;

    p {
      color: var(--White, #fff);

      font-size: 17px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px; /* 141.176% */
      letter-spacing: 0.34px;
      width: 80%;
    }
    h1 {
      display: flex;
      color: white;

      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 52px; /* 108.333% */
      letter-spacing: -1.44px;
    }

    h2 {
      display: flex;
      color: var(--White, #fff);

      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px; /* 116.667% */
      letter-spacing: 0.24px;
      width: 100%;
    }

    span {
      background: linear-gradient(90deg, #a9d8fb 0%, #648095 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  img {
    width: 50%;
  }

  section {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    scroll-snap-align: center;
    perspective: 500px;
    @media (max-width: 640px) {
      flex-direction: column;
      height: 150vh;
    }
  }

  section > div {
    width: 300px;
    height: 450px;
    position: relative;
    max-height: 90vh;
    margin: 20px;
    overflow: hidden;
    border-radius: 5px;
  }
}
