.Bitoutne-Partner {
  //   width: 1440px;
  //   height: 732px;

  padding: 50px 50px 50px 50px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;

  background: #fff;
  @media (min-width: 1920px) {
    padding: 50px 120px 50px 120px;
  }
  @media (max-width: 786px) {
    padding: 50px 16px 50px 16px;
  }
  @media (max-width: 390px) {
    padding: 50px 16px 50px 16px;
  }
}

.partnr-text {
  width: 100%;
  color: var(--Blue, #0e2e51);
  text-align: left;

  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 108.333% */
  letter-spacing: -1.44px;
}

.partner-conatiner {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media (max-width: 768px) {
    flex-direction: row;
  }

  .partner-box1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .partner-item {
    display: flex;
    width: 20%;

    height: auto;

    padding: 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid rgba(14, 46, 81, 0.1);
    @media (max-width: 768px) {
      width: 100%;
    }
    img {
      width: auto;
      max-width: 80%;
    }
  }
}
