.digitalTwin-container {
  position: relative;
  align-items: center;
  height: 900vh;
  background: #000000;
  flex-direction: column;
  width: 100%;
}
.digitalTwin-container .digitalTwin-innerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  justify-content: center;
  overflow: visible;
  height: 100vh;
  padding-left: 60px;
  overflow: hidden;
}
@media (max-width: 1440px) {
  .digitalTwin-container .digitalTwin-innerContainer {
    padding-left: 60px;
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .digitalTwin-container .digitalTwin-innerContainer {
    padding: 16px;
  }
}
.digitalTwin-container .digitalTwin-innerContainer .twin-videoWrapper {
  position: absolute;
  left: 0%;
  z-index: -1;
}
.digitalTwin-container .digitalTwin-innerContainer .twin-videoWrapper video video {
  height: 100vh;
}
@media (max-width: 1440px) {
  .digitalTwin-container .digitalTwin-innerContainer .twin-videoWrapper {
    width: auto;
    height: 150%;
  }
}
.digitalTwin-container .twin-innerContainerb {
  display: flex;
  position: relative;
  flex-direction: row;
  position: sticky;
  top: 70vh;
  justify-content: space-between;
  width: auto;
  padding-left: 60px;
  align-items: center;
}
@media (max-width: 1200px) {
  .digitalTwin-container .twin-innerContainerb {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
.digitalTwin-container .twin-innerContainerb .advanceImaging-text-container {
  display: flex;
  width: 525px;
  text-align: left;
  flex-direction: column;
}
@media (max-width: 768px) {
  .digitalTwin-container .twin-innerContainerb .advanceImaging-text-container {
    width: 300px !important;
  }
}
.digitalTwin-container .twin-innerContainerb .advanceImaging-text-container h1 {
  color: var(--White, #fff);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -1.44px;
}
.digitalTwin-container .twin-innerContainerb .advanceImaging-text-container h2 {
  color: var(--White, #fff);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  letter-spacing: 0.24px;
}
.digitalTwin-container .twin-innerContainerb .advanceImaging-text-container p {
  color: var(--White, #fff);
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 141.176% */
  letter-spacing: 0.34px;
}
.digitalTwin-container .twin-innerContainerb .advanceImaging-text-container span {
  background: linear-gradient(90deg, #a9d8fb 0%, #648095 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
  .digitalTwin-container .twin-innerContainerb {
    padding-left: 16px;
  }
}
.digitalTwin-container .twin-innerContainerb video {
  width: auto;
  height: 60vh;
  border-radius: 20px;
  margin: 60px;
  margin-right: 60px;
}
@media (max-width: 1049px) {
  .digitalTwin-container .twin-innerContainerb video {
    margin: 0px;
    padding: 0px;
    height: auto;
    height: auto;
    width: 92%;
  }
}
@media (max-width: 780px) {
  .digitalTwin-container .twin-innerContainerb video {
    margin: 0px;
    padding: 0px;
    height: auto;
    height: auto;
    width: 92%;
  }
}
.digitalTwin-container .twin-img-wrapper {
  position: relative;
  display: flex;
  width: auto;
  margin: 0px;
  justify-content: center;
}
.digitalTwin-container .twin-img-wrapper .twin-overlayMode {
  position: absolute;
}
.digitalTwin-container .twin-img-wrapper img {
  height: 90vh;
}
@media (max-width: 768px) {
  .digitalTwin-container .twin-img-wrapper img {
    max-width: 100%;
    height: auto;
  }
}

.advanceImaging-text-container {
  display: flex;
  width: 525px;
  text-align: left;
  flex-direction: column;
}
@media (max-width: 768px) {
  .advanceImaging-text-container {
    width: 300px !important;
  }
}
.advanceImaging-text-container h1 {
  color: var(--White, #fff);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -1.44px;
}
.advanceImaging-text-container h2 {
  color: var(--White, #fff);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  letter-spacing: 0.24px;
}
.advanceImaging-text-container p {
  color: var(--White, #fff);
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 141.176% */
  letter-spacing: 0.34px;
}
.advanceImaging-text-container span {
  background: linear-gradient(90deg, #a9d8fb 0%, #648095 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}/*# sourceMappingURL=styles.css.map */