.digitalTwin-container {
  position: relative;
  align-items: center;
  height: 700vh;
  background: #000000;
  flex-direction: column;
  width: 100%;

  // div {
  //   position: relative;
  //   height: 500px;
  // }
  .digitalTwin-innerContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    justify-content: center;

    overflow: visible;
    height: 100vh;
    padding-left: 60px;
    @media (max-width: 1440px) {
      padding: 16px;
      overflow: hidden;
    }
    @media (max-width: 768px) {
      padding: 16px;
    }

    video {
      width: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
      @media (max-width: 1440px) {
        width: auto;
        height: 150%;
      }

      position: absolute;
      left: 0%;
      z-index: -1;
    }
  }

  .twin-innerContainerb {
    display: flex;
    position: relative;
    flex-direction: column;
    position: sticky;
    top: 70vh;
    justify-content: center;

    padding-left: 60px;

    .twin-img-wrapper {
      position: relative;
      display: flex;
      width: auto;
      margin: 0px;
      justify-content: center;

      .twin-overlayMode {
        position: absolute;
      }
      img {
        height: 100vh;
      }
    }
  }
}

.advanceImaging-text-container {
  display: flex;
  width: 525px;
  text-align: left;
  flex-direction: column;
  @media (max-width: 768px) {
    width: 300px !important;
  }

  h1 {
    color: var(--White, #fff);

    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -1.44px;
  }
  h2 {
    color: var(--White, #fff);

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 116.667% */
    letter-spacing: 0.24px;
  }
  p {
    color: var(--White, #fff);

    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 141.176% */
    letter-spacing: 0.34px;
  }
  span {
    background: linear-gradient(90deg, #a9d8fb 0%, #648095 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
