.Biotune-Gentic-Advantage {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 50px 50px 50px 50px;
  text-align: left;
  flex-direction: column;
}
@media (min-width: 1919px) {
  .Biotune-Gentic-Advantage {
    padding: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .Biotune-Gentic-Advantage {
    padding: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.gentic-conatiner {
  display: flex;
  align-items: center;
  gap: 100px;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 24px;
}
@media (max-width: 1260px) {
  .gentic-conatiner {
    justify-content: flex-start;
  }
}
@media (max-width: 1220px) {
  .gentic-conatiner {
    flex-direction: column;
    gap: 32px;
  }
}
@media (max-width: 768px) {
  .gentic-conatiner {
    flex-direction: column;
  }
}
@media (max-width: 390px) {
  .gentic-conatiner {
    flex-direction: column;
  }
}

.gentic-advan-heading {
  color: var(--Blue, #0e2e51);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 108.333% */
  letter-spacing: -1.44px;
}

.genetiq-animated-bg {
  position: absolute;
  width: 50%;
  right: 14vw;
  top: 0%;
  z-index: -2;
}
@media (min-width: 1620px) {
  .genetiq-animated-bg {
    right: 20vw;
    width: 45%;
  }
}
@media (max-width: 1206px) {
  .genetiq-animated-bg {
    right: 20vw;
    width: 45%;
    top: 15%;
  }
}
@media (max-width: 990px) {
  .genetiq-animated-bg {
    right: 20vw;
    width: 40%;
    top: 17%;
    transform: rotateY(180deg);
  }
}
@media (max-width: 768px) {
  .genetiq-animated-bg {
    display: none;
    right: 20vw;
    width: 30%;
    top: 10%;
    transform: rotateY(180deg);
  }
}
@media (max-width: 540px) {
  .genetiq-animated-bg {
    display: none;
    right: 0vw;
    width: 80%;
    top: 10%;
    transform: rotateY(180deg);
  }
}
@media (max-width: 478px) {
  .genetiq-animated-bg {
    display: none;
    right: 0vw;
    width: 80%;
    top: 12%;
    transform: rotateY(180deg);
  }
}

.genetiq-animated-bg-mask {
  position: absolute;
  width: 50%;
  right: 14vw;
  top: 0%;
  z-index: -1;
}
@media (max-width: 1206px) {
  .genetiq-animated-bg-mask {
    right: 20vw;
    width: 45%;
    top: 15%;
    transform: rotateY(180deg);
  }
}
@media (max-width: 990px) {
  .genetiq-animated-bg-mask {
    right: 20vw;
    width: 45%;
    top: 17%;
    transform: rotateY(180deg);
  }
}
@media (max-width: 768px) {
  .genetiq-animated-bg-mask {
    right: 0px;
    width: 100%;
    top: 8%;
    transform: rotateY(180deg);
  }
}

.left-gentic-item-box {
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
}
.left-gentic-item-box img {
  width: 570px;
  height: 552px;
}
@media (max-width: 768px) {
  .left-gentic-item-box img {
    width: 285px;
    height: 276px;
  }
}

.right-gentic-item-box {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
@media (max-width: 1206px) {
  .right-gentic-item-box {
    width: 100%;
  }
}

.right-gentic-item-content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-bottom: solid 1px #e7eaee;
  padding-bottom: 16px;
}
.right-gentic-item-content .gentic-item-inner {
  display: flex;
  flex-direction: column;
}
.right-gentic-item-content .gentic-item-inner .heading-item2 {
  align-self: stretch;
  opacity: 0.6;
  color: #0e2e51;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
  letter-spacing: 0.2px;
  transition: ease-in-out 0.4s;
  cursor: pointer;
}
.right-gentic-item-content .gentic-item-inner:hover .heading-item2 {
  color: var(--Blue, #0e2e51);
  opacity: 1;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  letter-spacing: 0.24px;
  align-self: stretch;
}
.right-gentic-item-content .gentic-item-inner .heading-item {
  color: var(--Blue, #0e2e51);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  letter-spacing: 0.24px;
  align-self: stretch;
}
.right-gentic-item-content .gentic-item-inner .para-item {
  color: var(--Gray, #6d6d6d);
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 141.176% */
  letter-spacing: 0.34px;
}/*# sourceMappingURL=styles.css.map */